@media only screen and (min-width: 38rem) {


    main {
        max-width: 1500px;
        margin: 0 auto;
    }

    
    header {
        grid-template-columns: 24px auto;
    }

    
    .hamburguer {
        display: none;
    }

    
    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

   
    .navigation ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .navigation a {
        border: none;
    }

    
    main {
        width: 100%;
        padding: 10px 20px;
    }

    /* Cards layout */
    .cards {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 20px;
    }

}
